.DS_Store
*~
guidocalculus/package/GuidoCalculus.app/
guidocalculus/src/.qmake.stash
guidocalculus/src/Debug/
guidocalculus/src/GuidoCalculus.build/
guidocalculus/src/GuidoCalculus.xcodeproj/
guidocalculus/src/Info.plist
guidocalculus/src/Release/
guidocalculus/src/project.pbxproj
guidocalculus/src/tmpSrc/
validation/0.90/

### Swift ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/ios
build/macos
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
